.App {
  display: grid;
  min-height: 100vh;
  min-width: 100%;
  grid-template-rows: 1fr 50px;
  grid-template-columns: 1fr; 
  grid-template-areas: "content"
                       "footer";
}

.Sidebar {
  grid-area: sidebar;
  background-color: #7f8c8d;
}

.Content {
  grid-area: content;
  background-color: #2c3e50;
}

.Footer {
  grid-area: footer;
  background-color: #c0392b;
}

/* hide the icons */
.Sidebar i {
  display: none;
}

/*=============================
  larger screens
===============================*/

@media only screen and (min-width:600px) {
  .App {
    grid-template-columns: 40px 1fr;    
		grid-template-areas: "sidebar  content"
			                     "footer  footer";
  }
  
  .Sidebar {
     display: grid;
     justify-items: center;
     align-items: center;
  }
  
  /* show the icons */
  .Sidebar i {
    display: block;
    color: white;
  }
}